- if @blogs.length > 0
  .newslist
    .container
      .content
        .row
          .span12
            %table{:class => "table-striped"}
              %thead
                %tr
                  %th ID
                  %th タイトル
                  %th カテゴリ
                  %th SCORE
              %tbody
                - @blogs.each do |k, v|
                  %tr
                    %td
                      = v['id'] unless k.nil?
                    %td
                      = link_to v['title'], k, :target => "_blank" unless k.nil?
                    %td
                      = link_to v['category'], 'http://b.hatena.ne.jp/entry/' + k, :target => "_blank" unless k.nil?
                    %td
                      = link_to v['score'].to_s, 'http://b.hatena.ne.jp/entry/' + k, :target => "_blank" unless k.nil?
